---
layout: layouts/base.njk
---
<article class="container narrow post">
  <header class="post-header"><h1 class="page-title">{{ title }}</h1></header>
  <div class="prose">
    {{ content | safe }}
  </div>
</article>
