---
layout: layouts/base.njk
---
{% from "macros.njk" import prompt %}
<article class="container post">
  <header class="post-header">
    {{ prompt(command or ("cat " + page.fileSlug + ".md")) }}
    <h1 class="page-title">{{ title }}</h1>
  </header>
  <div class="prose">
    {{ content | safe }}
  </div>
</article>
