---
layout: layouts/base.njk
title: Tags
permalink: /tags/
---
<div class="container">
  <header class="page-header"><h1 class="page-title">Tags</h1></header>
  <ul class="tag-list">
    {%- for tag in collections.tagList %}
    <li><a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a> <span class="muted">{{ collections[tag].length }}</span></li>
    {%- endfor %}
  </ul>
</div>
