---
layout: layouts/base.njk
title: Tags
permalink: /tags/
---
<div class="container narrow">
  <header class="page-header">
    <p class="kicker"><span class="prompt">~$</span> ls ./tags</p>
    <h1 class="page-title">Tags</h1>
    <p class="lead">Browse everything by topic.</p>
  </header>
  <ul class="tag-cloud">
    {%- for tag in collections.tagList %}
    <li><a href="/tags/{{ tag | slugify }}/">#{{ tag }} <span>{{ collections[tag].length }}</span></a></li>
    {%- endfor %}
  </ul>
</div>
