---
layout: layouts/base.njk
title: Videos
permalink: /videos/
---
<h1>Videos</h1>
<p class="lead">Talks, demos and screencasts.</p>
{%- set videoList = collections.videos %}
{%- if videoList.length %}{% include "partials/video-grid.njk" %}{% else %}<p>No videos yet.</p>{% endif %}
