{# Expects `postList` to be set by the caller. #}
<ul class="post-list">
  {%- for post in postList %}
  <li>
    <a href="{{ post.url }}">
      <span class="post-title">{{ post.data.title }}{% if post.data.draft %} <span class="badge">draft</span>{% endif %}</span>
      <time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
    </a>
  </li>
  {%- endfor %}
</ul>
